#word-red {
  color: orange;
}

.sample-font1
font-family: 'ＭＳ Ｐゴシック',,sans-serif;

.sample-font2
font-family: 'Arial Black',sans-serif;

.sample-font3
font-family: 'Segoe Script',sans-serif;

.sample-font4
font-family: 'Ravi Prakash', cursive;